// -*- mode: closure-template-html -*-
//
// This file is part of the restas-wiki library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace restas.wiki.view}

{template showPageMenu}
    <ul class="wiki-page-menu">
        {if $editHref}
            <a href="{$editHref}">Edit</a>                    
        {/if}
    </ul>
{/template}

{template finalizePage}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    {\n}
    <html xmlns="http://www.w3.org/1999/xhtml">
	    <head>
      	    <meta http-equiv="Content-Type" content="text/html; charset='utf-8'" />

            {if $title}
                <title>{$title}</title>
            {/if}
	    </head>

	    <body>
            {if $menuLinks}
                {call showPageMenu data="$menuLinks" /}
            {/if}
            
            {$body |noAutoescape}
        </body>
    </html>
{/template}

{template generateBodyContent}
    <h1>{$title}</h1>
    {$content |noAutoescape}
{/template}

{template page-not-found}
   <h1>Эта страница ещё не существует</h1>
   <a href="{$createLink}">Создать</a>
{/template}

{template editWikiPage}
    /*
    <p>
        Отредактируйте страницу и нажмите Сохранить. 
        Пожалуйста, редактируйте только в том случае, если планируете <strong>улучшить</strong> содержимое. <br />
        Если Вы просто хотите потестировать что-либо, воспользуйтесь специальной страницей: <a href="/wiki/Песочница">песочницей</a>.
    </p>
    */
    <form  method="post">           
        <textarea rows="30" cols="80" name="content">
            {nil}{$content}{nil}
        </textarea>
        
        <div class="edit-buttons">
            <input type="submit" value="Save" name="save" />
            <input type="submit" value="Preview" name="preview" />
            <input type="submit" value="Cancel" name="cancel" />
        </div>
    </form>

    {if $preview}
        {$preview |noAutoescape}
    {/if}
{/template}

{template historyWikiPage}
    <h1>{$title}</h1>

    <ul>
        {foreach $version in $history}
            <li>
                {$version.date}
                <a href="{$version.href}">{$version.name}</a>
                <span style="color: #665">{$version.author}</span>
            </li>
        {/foreach}
    </ul>
{/template}


{template archive-not-found}
    {if $menu}
        {call page-menu}
             {param menu: $menu /}
        {/call}
    {/if}

    Архивный файл не обнаружен    
{/template}

   
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Page menu
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template page-menu}
    <div class="wiki-page-menu">
        <ul>
            {foreach $item in $menu}
                <li>
                    <a href="{$item.href |escapeUri}" class="{$item.action}-link">
                        {switch $item.action}
                            {case 'edit'}
                                 Править
                            {case 'history'}
                                 История
                            {case 'pdf'}
                                 PDF
                            {case 'view'}
                                 Смотреть
                            {case 'current'}
                                 Текущая версия
                            {default}
                                 {$item.action}
                        {/switch}
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>
{/template}
